* {
    padding: 0;
    margin: 0;
}

body {
    display: block;
    height: 100vh;
    width: 100%;
}

.title {
    background-color: #45ADA8;
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title > h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.title > p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

hr {
    border-color: transparent;
    height: 90px;
}

.back{
    background: linear-gradient(135deg, rgb(252, 252, 0), rgb(240, 156, 0));
    height: 190px;
    width: 190px;
    border-radius: 50%;
    margin-bottom: 50px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.about > .first > .back > img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 4.5px;
    left: 5px;
    z-index: 1;
}

.back::before{
    content: "";
    position: relative;
    height: 200px;
    width: 150px;
    background: linear-gradient(#00ccff, #d500f9);
    margin-bottom: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    animation: rotate  2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.about > .first > h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #304F72;
    margin: 30px auto;
    text-align: center;
}
.about > .second > h2,
.about > .third > h2,
.about > .fourth > h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #304F72;
    text-align: center;
}

.about > .fifth > h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #304F72;
    margin: 30px auto;
    text-align: center;
}

.about > .first > p{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
}

.about > .second > p,
.about > .third > p,
.about > .fourth > p{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    padding-left: 38%;
    padding-top: 2%;
}

.about > .fifth > p {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
}

.about > .second > ul,
.about > .third > ul,
.about > .fourth > ul {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    padding-top: 2%;
    padding-left: 38%;
    margin: auto ;
}

li{
    padding: 10px;
    margin: auto;
}

.thank {
    position: relative;
    top: 50px;
    height: 100px;
    width: 300px;
    border-radius: 30px;
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f403d1, #64b5f6);
}

.thank:hover::before{
    content: "";
    background: linear-gradient(135deg, #f403d1, #64b5f6);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(25px);
    transform: translateY(30px) scale(0.9);
    cursor: pointer;
}


.thank > h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    z-index: 1;
}

.footer {
    background-color: #304F72;
    padding: 20px;
    height: 200px;
}

.footer > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-bottom: 20px;
    padding-top: 100px;
}

.footer > ul > li {
    margin: 0 10px;
}

.footer > ul > li > a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
    text-decoration: none;
}


.footer > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
}


@media (max-width: 600px){
    .title > h1 {
        font-size: 2rem;
        animation: left-in 1.5s linear;
    }
    
    @keyframes left-in {
        0%{
            transform: translateX(60px)
        }
        100%{
            transform: translateX(0px);
        }
    }
    
    .title > p {
        font-size: 1.5rem;
        animation: right-in 1.5s linear;
    }

    @keyframes right-in {
        0%{
            transform: translateX(-60px)
        }
        100%{
            transform: translateX(0px);
        }
    }
    
    .about > .first > h2,
    .about > .second > h2,
    .about > .third > h2,
    .about > .fourth > h2,
    .about > .fifth > h2 {
        background: linear-gradient(135deg, #f403d1, #64b5f6);
        color: white;
        padding: 10px;
        font-weight: bold;
        width: 100%;
    }
   

    .about > .first > p{
        font-size: 1.5rem;
        padding-right: 10%;
        padding-left: 15%;
        padding-top: 1%;
        text-align: center ;
    }
    
    .about > .second > p,
    .about > .third > p,
    .about > .fourth > p{
        font-size: 1.5rem;
        padding-right: 10%;
        padding-left: 26%;
        padding-top: 10%;
    }
    
    .about > .fifth > p {
        font-size: 1.4rem;
        padding: 10px;
    }
    
    .about > .second > ul,
    .about > .third > ul,
    .about > .fourth > ul {
        padding-left: 23%;
        font-size: 1.3rem;
    }
    
    .footer > ul {
        padding-top: 60px;
    }

    .footer > ul > li > a{
        font-size: 0.9rem;
    }
    
}